html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #F4F4F4;
}

a {
  text-decoration: none
}

.content {
  background: #F4F4F4;
  position: absolute;
  left: 165px;
  right: 0;
  top: 60px;
  bottom: 0;
  width: auto;
  padding: 0;
  overflow: hidden;
}

.air {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  line-height: 50px;
  overflow: hidden;
}

.air .el-breadcrumb {
  font-size: 16px;
  margin-left: 20px;
}

.air .el-breadcrumb-item {
  margin-top: 20px!important;
}

.air-20 {
  width: 100%;
  height: 20px;
  background: #324057;
}

.box .el-table__fixed{
    height: 42px!important;
}
.el-table__fixed{
  height: 100%!important;
}
.crumbs {
  margin-bottom: 6px;
}

.step1 {
  margin: 20px;
}

.step-wrapper {
  margin-top: 10px;
}

.el-menu-item,
.el-submenu__title {
  height: 45px!important;
  line-height: 45px!important;
}

/*分页用的样式*/

.pagination {
  position: relative;
  text-align: right;
  height: 30px;
  right: 0;
  z-index: 10;
  background: #fff;
}

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.text-l {
  text-align: left!important;
}

.el-loading-spinner .circular {
  width: 28px!important;
  height: 28px!important;
}

.el-date-picker .el-input__icon {
  top: 4px!important;
}

.el-dialog--tiny {
  width: 320px!important;
}

.el-dialog--tiny .el-dialog__header span {
  font-weight: 400;
  font-size: 14px;
  color: #13ce66;
}

.el-dialog--tiny .el-dialog__header .icon-close {
  font-size: 10px;
}

.el-table tr:hover {
  background: #f6faff;
}

.el-form-item__label {
  font-size: 13px;
  color: #000000!important;
  padding: 12px 0 12px 0!important;
  margin-right: 0px!important;
}

.el-dialog--tiny .el-form-item {
  margin-bottom: 14px!important;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active {
  background: #475669;
}

.el-input__inner {
  height: 32px!important;
  font-size: 14px!important;
}

.horn {
  width: 17px;
  height: 17px;
}

.el-table .cell,
.el-table th>div {
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.hour .el-input .el-input__icon {
  right: -10px!important;
}

.mb-5 {
  margin-bottom: 2px!important;
}

.mt-2 {
  margin-top: 2px!important;
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-0 {
  margin-top: 0px!important;
}

.mt-10 {
  margin-top: 10px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mt-50 {
  margin-top: 40px!important;
}

.mr-0 {
  margin-right: 0px!important;
}

.mr-3 {
  margin-right: 2px!important;
}

.mr-5 {
  margin-right: 5px!important;
}

.mr-6 {
  margin-right: 6px!important;
}

.mr-16 {
  margin-right: 16px!important;
}

.mr-20 {
  margin-right: 20px!important;
}

.mr-49 {
  margin-right: 49px!important;
}

.mr-80 {
  margin-right: 80px!important;
}

.ml-0 {
  margin-left: 0px!important;
}

.ml-6 {
  margin-left: 6px!important;
}

.ml-10 {
  margin-left: 10px!important;
}

.ml-12 {
  margin-left: 12px!important;
}

.ml-14 {
  margin-left: 14px!important;
}

.ml-15 {
  margin-left: 17px!important;
}

.ml-16 {
  margin-left: 16px!important;
}

.ml-17 {
  margin-left: 17px!important;
}

.ml-19 {
  margin-left: 19px!important;
}

.ml-20 {
  margin-left: 22px!important;
}

.ml-22 {
  margin-left: 20px!important;
}

.ml-23 {
  margin-left: 23px!important;
}

.ml-25 {
  margin-left: 25px!important;
}

.ml-26 {
  margin-left: 26px!important;
}

.ml-29 {
  margin-left: 29px!important;
}

.ml-30 {
  margin-left: 30px!important;
}

.ml-35 {
  margin-left: 35px!important;
}

.ml-37 {
  margin-left: 52px!important;
}

.ml-40 {
  margin-left: 40px!important;
}

.ml-48 {
  margin-left: 48px!important;
}

.ml-52 {
  margin-left: -52px!important;
}

.ml-54 {
  margin-left: 54px!important;
}

.ml-63 {
  margin-left: 63px!important;
}

.ml-82 {
  margin-left: 110px!important;
}

.ml-100 {
  margin-left: 100px!important;
}

.ml-116 {
  margin-left: 116px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mgb20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px!important;
}

.center {
  text-align: center!important;
}

.med {
  width: 170px!important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w-150 {
  width: 150px!important;
}

.w-180 {
  width: 180px!important;
}

.box .el-table__empty-block{
  min-height: 40px!important;
}
/*.count {
  height: 100%!important;
}*/

.mid {
  width: 878px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.midd {
  width: 1218px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.white {
  width: 100%;
  background: #FFFFFF;
}

.bottom {
  clear: both;
  text-align: center;
}

.text-l {
  text-align: left!important;
}

.crumbs .el-input {
  margin-left:10px;
}

.short {
  width: 120px!important;
}

.v-short {
  width: 100px!important;
}

.form-four .el-form-item {
  margin-left: 50px;
}

.move-enter-active,
.move-leave-active {
  transition: opacity .5s;
}

.move-enter,
.move-leave {
  opacity: 0;
}


/*BaseForm*/

.form-box {
  width: 600px;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}


/*Readme*/

.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label {
  color: #333;
  cursor: pointer;
}


/*Upload*/

.pure-button {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
  height: 45px;
}

.el-upload--text {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.el-upload--text .el-icon-upload {
  font-size: 67px;
  color: #97a8be;
  margin: 40px 0 16px;
  line-height: 50px;
}

.el-upload--text {
  color: #97a8be;
  font-size: 14px;
  text-align: center;
}

.el-upload--text em {
  font-style: normal;
}


/*VueEditor*/

.ql-container {
  min-height: 400px;
}

.ql-snow .ql-tooltip {
  transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
  margin-top: 20px;
}


/*全局加载容器*/

.content {
  height: calc(100% - 60px);
}

.components-container {
  position: relative;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}
